.headerImage {
  height: 100px;
}

.headerItems {
  margin-right: 40px;
  font-family: 'Michroma', sans-serif;
  font-family: 'Sora', sans-serif;
}

.footerImage {
  height: 70px;
}

.headerTitle {
  font-family: 'Michroma', sans-serif;
  font-family: 'Sora', sans-serif;
}

body {
  padding: 150px 100px 20px 100px;
}


img {
  height: 230px;
  max-width: 100%;
  }
  .image-table {
  border: 0px solid rgba(0, 0, 0, 0);
  border-collapse: separate;
  border-spacing: 6px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  }
  .image-table img {
  border: 10px solid #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  }